.table thead th {
    background-color: #002855; /* Color azul oscuro */
    color: white;
    text-align: center;
}

.table tbody td {
    text-align: center;
    vertical-align: middle;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 14px;
}


/* Estilo para la tabla */
.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
}

.table thead th {
    background-color: #0d253f; /* Color oscuro para el encabezado */
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* Ajuste de los botones */
.btn-editar {
    background-color: #17a2b8;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-editar:hover {
    background-color: #138496;
    color: white;
}

.btn-eliminar {
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-eliminar:hover {
    background-color: #c82333;
    color: white;
}

/* Espaciado y responsive */
.table-responsive {
    overflow-x: auto;
    margin-top: 20px;
}


.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.step-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination {
    flex-wrap: wrap !important; /* Permite que las páginas se acomoden en varias líneas */
    overflow-x: auto; /* Agrega desplazamiento horizontal si es necesario */
    justify-content: center;
}

.pagination .page-item {
    margin: 2px;
}

.pagination .page-link {
    padding: 6px 12px;
    font-size: 14px;
}
